<div class="container-fluid"  id="contactUs">
<div class="row d-md-none mobileView">
    <footer class="mainfooter" role="contentinfo">
        <div class="footer-middle">
            <div class="container">

                <!-- mobile view -->
                <div class="row d-md-none">
                    <div class="col-sm-12 mt-3">
                        <div class="footer-pad">
                            <h4>About Us</h4>
                            The largest online platform in Sri Lanka which facilitates for doing examinations
                            and check your knowledge with what you learn.
                        </div>
                    </div>
                    <div class="col-sm-12 mt-3">
                        <div class="footer-pad">
                            <h4>Contact Us</h4>
                            <p><i class="fa fa-location-arrow"></i>"ISHANKA" D. E. Thilakarathne rd,Kapumulla,Ratgama, Sri Lanka   </p>
                            <p><i class="fa fa-phone"></i> +9476-69890287 </p>
                            <p><i class="fa fa fa-envelope"></i> onlinepepare.lk@gmail.com </p>
                        </div>
                    </div>
                    <div class="col-sm-12 mt-2">
                        <div class="footer-pad">
                            <h4>Menu</h4>
                            <ul class="list-unstyled">
                                <li><a href="#carouselHome">Home</a></li>
                                <li><a href="#ranker">Ranker</a></li>
                                <li><a href="#procedure">Procedure</a></li>
                                <li><a href="#intro">Introduction</a></li>
                                <li><a href="#contactUs">Contact Us</a></li>
                                <li>
                                    <a href="#"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 mt-2 mb-2">
                        <div class="footer-pad">
                            <h4>Follow Us</h4>
                            <ul class="social-network social-circle">
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="#" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 copy">
                        <p class="text-center">&copy; Copyright 2021 - 404 Solutions. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</div>

<div class="container-fluid"  id="contactUs">
    <div class="row d-none d-md-flex webView">
        <footer class="mainfooter container-fluid" role="contentinfo" id="contactUs">
            <div class="footer-middle mt-5">
                <div class="container" >

                    <!-- web view -->
                    <div class="row d-none d-md-flex" >
                        <div class="col-lg-3 col-md-3">
                            <div class="footer-pad">
                                <h4>About Us</h4>
                                The largest online platform in Sri Lanka which facilitates for doing examinations
                                and check your knowledge with what you learn.
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 border-left">
                            <div class="footer-pad">
                                <h4>Contact Us</h4>
                                <p><i class="fa fa-location-arrow"></i> "ISHANKA" D. E. Thilakarathne rd,Kapumulla,Ratgama, Sri Lanka </p>
                                <p><i class="fa fa-phone"></i> +9476-69890287 </p>
                                <p><i class="fa fa fa-envelope"></i> onlinepepare.lk@gmail.com </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="footer-pad">
                                <h4>Menu</h4>
                                <ul class="list-unstyled">
                                    <li><a href="#carouselHome">Home</a></li>
                                    <li><a href="#ranker">Ranker</a></li>
                                    <li><a href="#procedure">Procedure</a></li>
                                    <li><a href="#intro">Introduction</a></li>
                                    <li><a href="#contactUs">Contact Us</a></li>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="footer-pad">
                                <h4>Follow Us</h4>
                                <ul class="social-network social-circle">
                                    <li><a href="https://www.facebook.com/Onlinepepare-109369341428736"
                                         class="icoFacebook" title="Facebook"><i
                                                class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCRsI8eWXgkep-z5_k0D0H8w/featured" 
                                        class="icoYoutube" title="Youtube"><i
                                                class="fa fa-youtube"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 copy">
                            <p class="text-center">&copy; Copyright 2021 - 404 Solutions. All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>