<!-- 
  Copyright 2020-2021 404 Solutions Company
 -->

 <div class="my-login-page" style="background-image: url('../../assets/images/login/loginBck.svg');" >
	<section class="h-100">
		<div class="container h-100">
			<div class="row h-100">
				<div class="card-wrapper">
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title"><b>Login</b></h4>

							<!-- <div *ngIf="hasErrors" class="alert alert-danger" role="alert">
								{{loginError}}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div> -->
							<app-alert></app-alert>

							<div *ngIf="isSuccess" class="alert alert-success" role="alert">
								{{success}}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<div *ngIf="hasErrors" class="alert alert-danger" role="alert">
								{{loginError}}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>

							<input style="display: none;" id="deviceId" name="deviceId" type="text">
							<form *ngIf="loginForm" [formGroup]="loginForm" (ngSubmit)="loginBtnClickEvent()">
								<div class="form-group">
									<label for="userName">Email</label>
									<input #login_username id="login_username" type="text" class="form-control"
										formControlName="userName" name="userName" value=""
										placeholder="Email"
										[ngClass]="{ 'error': submitted && f.userName.errors }">
									<div *ngIf="submitted && f.userName.errors" class="text-danger">
										<div *ngIf="f.userName.errors.required">Email is required</div>
										<!-- <div *ngIf="f.userName.errors.email">Email must be a valid email address</div> -->
									</div>
								</div>


								<div class="form-group">
									<label for="password">Password
										<!-- <a [routerLink]="['../forgot-password']" class="link-primary float-right"> -->
											<a href="../forgot-password" class="link-primary float-right">
											Forgot Password?
										</a>
									</label>
									<div style="position:relative">
										<div class="input-with-icon">
											<input #login_password id="login_password"
												[type]="showPassword ? 'text' : 'password'" class="form-control"
												name="password" data-eye="" style="padding-right: 60px;"
												formControlName="password" autocomplete="off"
												placeholder="Password"
												[ngClass]="{ 'error': submitted && f.password.errors }">
											<div class="btn btn-default icon" (click)="showPassword = !showPassword">
												<i class="fa" aria-hidden="true"
													[ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}"></i>
											</div>
											<input type="hidden" id="passeye-0">
											<div *ngIf="submitted && f.password.errors" class="text-danger">
												<div *ngIf="f.password.errors.required">Password is required</div>
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<!-- <alert></alert> -->
								</div>
								<div class="form-group mt-4 mb-3">
									<button id="login_submit" type="submit" class="btn btn-primary btn-block"
										[disabled]="loginBtnClicked">
										Login
									</button>
								</div>
								<div class="form-group mt-4 mb-4">
									<hr />
								</div>
							</form>
							<div class="form-group mt-4 mb-3">
								<button id="create_account_submit" [routerLink]="['../addUser']" class="btn btn-secondary btn-block">
									Create New Account
								</button>
							</div>

						</div>
					</div>
					<div class="footer">
						2021 © 404 Solutions. All Rights Reserved
					</div>
				</div>
			</div>
		</div>
	</section>
</div>