
<section class="add-papers">
    <div class="container register-form">
        <div class="form">
            <div class="note">
                <h3>Edit Paper</h3>
            </div>
            <form #addPaperForm="ngForm">
                <div class="form-content forma">

                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="year">Year</label>
                                <select class="form-control" id="year" name="year" [(ngModel)]="year"
                                    (ngModelChange)="onChangeYear($event)">
                                    <option *ngFor="let year of years; let i = index" [value]="year">{{year}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="months">Month</label>
                                <select class="form-control" id="month" name="month" [(ngModel)]="month"
                                    (ngModelChange)="onChangeMonth($event)">
                                    <option *ngFor="let month of months; let i = index" [value]="i+1">{{month}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="week">Week</label>
                                <select class="form-control" id="week" name="week" [(ngModel)]="week"
                                    (ngModelChange)="onChangeWeek($event)">
                                    <option *ngFor="let week of weeks; let i = index" [value]="i+1">{{week}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <p class="err-duplicate" *ngIf="errDuplicate!==''">{{errDuplicate}}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="paperName">Paper Name </label>
                                <input type="text" class="form-control" placeholder="Add Paper Name" name="paperName"
                                    required [(ngModel)]="paperName" (ngModelChange)="onChangePaperName($event)" />
                                <p class="err-duration" *ngIf="errPaperName.length>0">{{errPaperName}} </p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="duration">Duration (HH:MM)</label>
                                <input type="text" class="form-control" placeholder="HH:MM" name="duration" [(ngModel)]="duration"
                                    required (ngModelChange)="onChangeDuration($event)" />
                                <p class="err-duration" *ngIf="errDuration.length>0">{{errDuration}} </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="paperPrize">Paper Price (Rs)</label>
                                <input type="number" class="form-control" placeholder="Add Paper Price in LKR"
                                    name="price" required [(ngModel)]="price" (ngModelChange)="onChangePaperPrice($event)"
                                    value="" />
                                <p class="err-duration" *ngIf="errPaperPrice.length>0">{{errPaperPrice}} </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12">
                            <div class="form-group">
                                <label for="monthlyPrice">Monthly Price (Rs)</label>
                                <input type="number" class="form-control" placeholder="Add Monthly Price in LKR"
                                    name="monthlyPrice" [(ngModel)]="categoryPrice"
                                    (ngModelChange)="onChangePaperMonthlyPrice($event)" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="description">Paper Description</label>
                                <textarea name="description" rows="3" class="form-control" id="description"
                                    placeholder="Add Paper Description" name="paperDescription" [(ngModel)]="description"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" name="publish" id="flexCheckDefault" [checked]="ispublished" ngModel>
                        <label class="form-check-label" for="flexCheckDefault" >
                          Publish Now
                        </label>
                    </div>
                    <button *ngIf="showPdf" type="btn" [disabled]="false" (click)="isChangePdf()"
                        class="btnCahngePDF">Change PDF </button>

                    <button *ngIf="showPdfUploader" type="btn" [disabled]="false" (click)="notChangePdf()"
                        class="btnCahngePDF">Use Previous PDF </button>
                    
                        
                        <div *ngIf="showPdfUploader" class="row mt-3">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="description">Upload Paper</label>
                                    <app-file-uploader (uploadEvent)="uploadStatus=$event" (fileEvent)="files=$event">
                                    </app-file-uploader>
                                </div>
                            </div>
                        </div>
                        
                        <button type="submit" [disabled]="false" (click)="upload(addPaperForm)"
                            class="btnSubmit">Submit</button>
                        <p class="err-duration" *ngIf="errMsg.length>0">{{errMsg}} </p>
                        
                        <div *ngIf="showPdf" class="pdf-container">
                            <app-pdf-viewer [src]="paperlink"></app-pdf-viewer>
                        </div>
                    <!-- <div class="row">
                        <div class="col-md-12 col-sm-12">                           
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="publish" value="publishNow" id="flexRadioDefault1" ngModel>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Publish now
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="publish" id="flexRadioDefault2" value="publishLater" ngModel>
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Publish later
                                </label>
                            </div>
                        </div>
                    </div> -->
                    
                    <!-- <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="description">Upload Paper</label>
                                <app-file-uploader (uploadEvent)="uploadStatus=$event" (fileEvent)="files=$event">
                                </app-file-uploader>
                            </div>
                        </div>
                    </div> -->
                  
                </div>
            </form>
        </div>
    </div>
</section>
<app-loading *ngIf="loading.length>0" [loadingMsg]="loading"></app-loading>





