<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>

    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" [sidebarClass]="'app-sidebar'">
        <p>Sidebar contents</p>
        <p><a closeSidebar>This will close the sidebar too</a></p>

        <hr>

        <p>Throwup on your pillow.</p>
        <p>Steal the warm chair right after you get up.</p>
        <p>Use lap as chair hide head under blanket.</p>
        <p>Walk on car leaving trail of paw prints on hood.</p>
        <p>Steal the warm chair right after you get up.</p>
    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content style="height: 100vh;">
        <button (click)="_toggleSidebar()">Toggle sidebar</button>
    </div>

</ng-sidebar-container>