.nav-opacity{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
.font-style{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
}

nav {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.nav-item {
  padding-inline-end: 1em;
}
/* 
.navbar-collapse ul {
  height: 100vh;
} */