<!-- data-toggle="collapse"
      data-target="#navbarSupportedContent" -->

<div class="nav-opacity">
  <nav [ngClass]="scrolled || toggled ? 'navbar-light bg-light' : 'navbar-dark'"  class="navbar fixed-top navbar-expand-md font-style" id="navbar" (scroll)="onWindowScroll($event);">
    <a class="navbar-brand" href="#">Navbar</a>
    <div  class="navbar-toggler ml-auto mr-2" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation" style="border-color: transparent;" (click)="onNavbarToggle()">
      

      <i class="icofont-navigation-menu"></i>
  </div>

    <div [ngClass]="toggled ? 'show' : ''" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#carouselHome">Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#ranker">Ranker</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#procedure">Procedure</a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href="#intro">Introduction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contactUs">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>