
<section class="show-paper">
    <h1 class="paper-name py-3">{{paper?.papername}}</h1>
    <a *ngIf="!isPaperStarted" class="btn btn-start py-2 px-4" (click)="startPaper()">Start Paper</a>

    <div  *ngIf="isPaperStarted">
        <app-timer></app-timer>


        <div class="pdf-container">
            <app-pdf-viewer [src]="link" [name]="paper.papername+'_'+paper.year+'_'+paper.month+'_'+paper.week"></app-pdf-viewer>
        </div>

        <div class="upload-section">
            <div class="upload-header">
                <h2>Upload Section</h2>
            </div>
            <!-- <div class="row text-center">
                <div class="col-4">Upload File</div>
                <div class="col-4">Confirm Submission</div>
                <div class="col-4">Submission Complete</div>
            </div> -->

            <div [ngSwitch]="paperStatus" class="row mt-4 mb-2">
                <!-- <div class="col-4 text-left submission-status">
                    Submission Status
                </div> -->
                <div *ngSwitchCase="'notstart'" class="col-12 text-center submission-status status-notsubmitted">
                    <i class="icofont-close-circled"></i> Not Submitted
                </div>
                <div *ngSwitchCase="'start'" class="col-12 text-center submission-status status-notsubmitted">
                    <i class="icofont-close-circled"></i> Not Submitted
                </div>
                <div *ngSwitchCase="'upload'" class="col-12 text-center submission-status status-uploaded">
                    <i class="icofont-warning-alt"></i> File is uploaded, Please confirm submission
                </div>
                <div *ngSwitchCase="'submit'" class="col-12 text-center submission-status status-submitted">
                    <i class="icofont-check-circled"></i> Submitted Successfuly
                </div>
                <div *ngSwitchCase="'overdue'" class="col-12 text-center submission-status status-notsubmitted">
                    <i class="icofont-close-circled"></i> Submission is Overdue
                </div>
            </div>
    
            <!-- <div class="upload-text">
                <p>Upload your answers as a PDF file here</p>
                {{message}}
            </div> -->
            <app-file-uploader (uploadEvent)="paperStatus=$event" (fileEvent)="files=$event"></app-file-uploader>
            <div class="btn-container">
                <button (click)="onSubmit()" class="btn btn-submit lg float-right">submit</button>
            </div>
            
        </div>
    </div>
</section>

<app-loading *ngIf="loading.length>0" [loadingMsg]="loading"></app-loading>