<section class="show-paper">
    <h1 class="paper-name py-3">{{paper?.papername}}</h1>
    <a *ngIf="!isPaperStarted" class="btn btn-start py-2 px-4" (click)="startPaper()">Start Paper</a>
    <div *ngIf="!isPaperStarted">
        <div class="col-12 pt-5">
            <h3 class="px-3">ප්‍රථමයෙන් පහත උපදෙස් හොඳින් කියවන්න</h3>
            <div class="px-3 pt-2">
                <ul>
                    <li>
                        <h6 class="text-justify">ඔබ Start Paper button එක click කළ මොහොතේ සිට ‍ප්‍රශ්න පත්‍රය සඳහා ලබාදී
                            ඇති
                            කාලය ගණනය
                            කිරීම ආරම්භ වේ.</h6>
                    </li>
                    <li>
                        <h6 class="text-justify">ඔබට ‍ ප්‍රශ්න පත්‍රය මුළු කාලය පුරාම වෙබ් පිටුවේ සිට හෝ ‍ප්‍රශ්න පත්‍රය
                            බාගත කර
                            පිළිතුරු සැපයීම කළ හැක</h6>
                    </li>
                    <li>
                        <h6 class="text-justify">ඔබ කුමන ආකාරයක් භාවිතා කළ ද ඔබගේ කාල ගණනය සිදු වේ</h6>
                    <li>
                        <h6 class="text-justify">මෙහි ඔබට කාලය ලබා දී ඇත්තේ ඔබගේ පිළිතුරු පත්‍රය PDF කර upload කිරීමටත්
                            සමග වන
                            බැවින් දී
                            ඇති කාලය තුළ පිළිතුරු සැපයීම
                            අවසන් කර ‍ප්‍රශ්න පත්‍රය සහිත පිටුවේ පහල ඇති upload section එක තුළට ඔබගේ
                            පිළිතුරු සහිත PDF එක upload කල පසු පහල ඇති submit button එක click කරන්න</h6>
                    </li>
                    <li>
                        <h6 class="text-justify">ඔබගේ පිළිතුරු පත්‍රය අප වෙත ලැබුණු බව තහවුරු කරගන්න</h6>
                    </li>
                    <li>
                        <h6 class="text-justify">ඔබට දී ඇති කාලය තුළ පිලිතුරු පත්‍රය upload කිරීමට නොහැකි වුවහොත් ඔබ
                            පිළිතුරු
                            ලබා නොදුන් අයකු
                            ලෙස සැලකේ</h6>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div *ngIf="isPaperStarted">
        <app-timer></app-timer>


        <div class="pdf-container">
            <app-pdf-viewer [src]="link" [name]="paper.papername+'_'+paper.year+'_'+paper.month+'_'+paper.week">
            </app-pdf-viewer>
        </div>

        <div class="upload-section">
            <div class="upload-header">
                <h2>Upload Section</h2>
            </div>
            <!-- <div class="row text-center">
                <div class="col-4">Upload File</div>
                <div class="col-4">Confirm Submission</div>
                <div class="col-4">Submission Complete</div>
            </div> -->

            <div [ngSwitch]="paperStatus" class="row mt-4 mb-2">
                <!-- <div class="col-4 text-left submission-status">
                    Submission Status
                </div> -->
                <div *ngSwitchCase="'notstart'" class="col-12 text-center submission-status status-notsubmitted">
                    <i class="icofont-close-circled"></i> Not Submitted
                </div>
                <div *ngSwitchCase="'start'" class="col-12 text-center submission-status status-notsubmitted">
                    <i class="icofont-close-circled"></i> Not Submitted
                </div>
                <div *ngSwitchCase="'upload'" class="col-12 text-center submission-status status-uploaded">
                    <i class="icofont-warning-alt"></i> File is uploaded, Please confirm submission
                </div>
                <div *ngSwitchCase="'submit'" class="col-12 text-center submission-status status-submitted">
                    <i class="icofont-check-circled"></i> Submitted Successfuly
                </div>
                <div *ngSwitchCase="'overdue'" class="col-12 text-center submission-status status-notsubmitted">
                    <i class="icofont-close-circled"></i> Submission is Overdue
                </div>
            </div>

            <div class="row d-none d-md-flex">
                <div class="col-lg-4 col-md-4"></div>
                <div class="col-lg-4 col-md-4">
                    <div class="text-center">
                        <app-alert></app-alert>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4"></div>
            </div>

            <div class="d-md-none">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="text-center">
                        <app-alert></app-alert>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>



            <!-- <div class="upload-text">
                <p>Upload your answers as a PDF file here</p>
                {{message}}
            </div> -->
            <app-file-uploader (uploadEvent)="paperStatus=$event" (fileEvent)="files=$event"></app-file-uploader>
            <div class="btn-container">
                <button (click)="onSubmit()" class="btn btn-submit lg float-right"
                    [disabled]="isSubmitted">submit</button>
            </div>

        </div>
    </div>
</section>