<app-navbar></app-navbar>

<div *ngIf="loading; else loaded">

    <section id="hero" class="d-flex flex-column justify-content-center"
        [style.background]="'url(' + img + ') top center'">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <h1>KnightOne - Create Bootstrap Website Template</h1>
                    <h2>loading</h2>
                </div>
            </div>
        </div>
    </section>

</div>
<ng-template #loaded>



    <section id="hero" class="d-flex flex-column justify-content-center"
        [style.background]="'url(' + img + ') top center'">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <h1>KnightOne - Create Bootstrap Website Template</h1>
                    <h2>We are team of designers making websites with Bootstrap</h2>
                </div>
            </div>
        </div>
    </section>

    <div *ngIf="papers.length > 0; else noPapers">

        <section class="paper-area text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <h2 class="paper-month">{{monthName}}</h2>
                        <div *ngIf="isPaidForCategory; else paid">
                            <h3 class="paper-month-des">Available papers for month of {{monthName}}</h3>
                        </div>
                        <ng-template #paid>
                            <h3 class="paper-month-des">Gell all pepers for month of {{monthName}} for</h3>
                            <a class="btn btn-fee" (click)="payForCategory(category)">Rs 500</a>
                        </ng-template>
                    </div>
                </div>


                <div class="d-flex row justify-content-center">


                    <div *ngFor="let paper of papers; let i = index" class="col-lg-3 col-md-6 mt-3 mb-3">
                        <div class="card">
                            <img class="card-img-top" src={{paper.imagelink}} alt="Card image cap">
                            <div class="card-body">
                                <p class="card-text">{{paper.paperdescription}}</p>
                                <div *ngIf="paper.isPaidForPaper; else showPayementButton">
                                    <a class="btn btn-fee" (click)="paperPay(paper)">Rs.{{paper.prize}}</a>
                                </div>
                                <ng-template #showPayementButton>
                                    <a class="btn btn-enter" (click)="enterToPaper(paper)">Enter</a>
                                </ng-template>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </section>
    </div>
    <ng-template #noPapers>
        <section class="paper-area text-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-12">
                        <h2 class="paper-month">{{monthName}}</h2>
                        <h3 class="paper-month-des">Sorry, Still we do not add any paper for month of {{monthName}}</h3>

                    </div>
                </div>
            </div>
        </section>
    </ng-template>

</ng-template>