.btn{
    background-color: 013A4B;
    border: none;
    color: rgb(240, 240, 240);
    cursor: pointer;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
    border-radius: 50px;
    text-align: center;
}

.btn:hover {
    background-color: rgb(240, 240, 240);
    color: 013A4B;
}