<nav class="navbar navbar-dark fixed-top">

    <span class="">
        <span class="navbar-toggler" (click)="_toggleSidebar()">
            <i class="icofont-navigation-menu"></i>
        </span>
        <a class="navbar-brand" routerLink="/">MathsWorld</a>
    </span>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Logout</a>
        </li>
    </ul>


</nav>

<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>

    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" [sidebarClass]="'app-sidebar'" [mode]="_mode"
        [autoCollapseWidth]="_autoCollapseWidth">

        <div style="height: 70px;"></div>
        <h3>Profile</h3>
        <br>
        
        <div id="sidenav-items">
            <hr class="sidenav-link-seperator">
            <div *ngFor="let link of sidenavLinks; let i = index;">
                <a *ngIf="!link.content" class="sidenav-link" [routerLink]="link.link" [queryParams]="link.queryParams" [routerLinkActive]="'sidenav-link-active'">{{ link.title }}</a>

                <a *ngIf="link.content" class="sidenav-link" data-toggle="collapse" attr.data-target="#sidenav-collapse-{{i}}">{{ link.title }}</a>
                <div *ngIf="link.content" id="sidenav-collapse-{{i}}" class="collapse" data-parent="#sidenav-items" [routerLinkActive]="'show'">
                    <hr class="sidenav-link-seperator">
                    <ng-container  *ngFor="let sublink of link.content">
                        <a class="sidenav-link" [routerLink]="sublink.link" [queryParams]="sublink.queryParams" [routerLinkActive]="'sidenav-link-active'">
                            <i class="fa fa-angle-right ml-2 mr-1"></i>
                            {{ sublink.title }}
                        </a>
                        <hr class="sidenav-link-seperator">
                    </ng-container>
                    
                </div>
                <hr class="sidenav-link-seperator">
            </div>

        </div>
        


    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content style="margin-top: 70px;">
        <router-outlet name="studentRouter"></router-outlet>
    </div>

</ng-sidebar-container>
