<app-alert></app-alert>

<section class="options">
    <div class="container">
        <div class="select-panes">
            <div class="input-group mb-3">
                <label class="input-group-text">Paper</label>
                <label class="input-group-value">{{paper.papername}}</label>
            </div>

            <div class="input-group mb-3">
                <label class="input-group-text">Student</label>
                <label class="input-group-value">{{currentRow.studentName}}</label>
            </div>
        </div>
    </div>
</section>

<section class="upload">
    <div class="container">
        <div class="update">
            <label for="marks">Enter Student Marks</label>
            <input numeric decimals="2" type="number" id="marks" name="marks" [(ngModel)]="marks">
        </div>
        <app-file-uploader (uploadEvent)="paperStatus=$event" (fileEvent)="files=$event"></app-file-uploader>
        <div class="btn-container">
            <button (click)="onSubmit()" class="btn btn-submit lg float-right"
                [disabled]="isSubmitted">submit</button>
        </div>
    </div>
</section>
