<div class="dashboard">
  <section class="hero">
      <div class="container">
        <p class="distribution">----- This Week Paper Distribution -----</p>
          <ul>
              <li>
                  <h3 class="papers-taken">0/50</h3>
                  <p class="eval-name">Rashmika</p>
              </li>
              <li>
                  <h3 class="papers-taken">5/50</h3>
                  <p class="eval-name">Pathum</p>
              </li>
              <li>
                  <h3 class="papers-taken">25/50</h3>
                  <p class="eval-name">Dilan</p>
              </li>
              <li>
                  <h3 class="papers-taken">20/50</h3>
                  <p class="eval-name">Pasindu</p>
              </li>
          </ul>

          <div class="countdown">
              <p><Span>2017A/l-model001</Span> paper has time left ,</p>

              <p id="time-left" class="countdown-timeleft">88:88:88:88</p>

              <p><span class="span-download">Download</span> this week paper here</p>
              <div class="download">
                  <a href="#" class="download-paper">Paper</a>
                  <a href="#" class="download-scheme">Marking Scheme</a>
            </div>
          </div>
      </div>
  </section>

  <section class="features">
      <div class="container">
          <p>Features for Evaluators</p>


          <div class="row">
              <div class="column">
                <div class="card">
                  <h3>Card 1</h3>
                  <p>Some text</p>
                  <p>Some text</p>
                </div>
              </div>
            
              <div class="column">
                <div class="card">
                  <h3>Card 2</h3>
                  <p>Some text</p>
                  <p>Some text</p>
                </div>
              </div>
              
              <div class="column">
                <div class="card">
                  <h3>Card 3</h3>
                  <p>Some text</p>
                  <p>Some text</p>
                </div>
              </div>
              
              <div class="column">
                <div class="card">
                  <h3>Card 4</h3>
                  <p>Some text</p>
                  <p>Some text</p>
                </div>
              </div>

              <div class="column">
                  <div class="card">
                    <h3>Card 5</h3>
                    <p>Some text</p>
                    <p>Some text</p>
                  </div>
                </div>
            </div>
            
      </div>
  </section>
</div>