.container{
    padding: unset;
    margin: unset;
    font-family: 'Poppins';
}

a{
    text-decoration: none;   
}

ul, li{
    list-style-type: none;
}

.dashboard{
    width: 100%;
    height: 100%;
}

/* hero section -----------------------------------*/
.hero{
    background: #47a3ad;
    display: flex;
    justify-content: center;
    width: auto;
    box-shadow: 0 15px 5px 0 rgba(0, 0, 0, 0.2);
}

.hero .container .distribution{
    text-align: center;
    margin: 20px 0 0 0;
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
}

.hero .container ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: unset;
    position: relative;
    margin: 5px 5px 0 5px;
}

.hero .container ul li{
    background: white;
    height:80px;
    max-width: 80px;
    border: 3px solid #3FAC00;
    border-radius: 100px;
    flex: 0 0 25%;
    text-align: center;
    margin: 4px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hero .container ul li h3{
    font-weight: bold;
    color: black;
    margin: unset;
    font-size: 1.5em;
    padding-top: 20px;
}

.hero .container ul li p{
    font-weight: bold;
    color: #949494;
    margin: unset;
    font-size: 0.8em;
}

.hero .container .countdown{
    display: block;
    top: 50px;
    margin: 0 auto;
    text-align: center;
    background: #47a3ad;
    width: 80%;
    height: auto;
    padding: 5px 5px 20px 5px;
    position: relative;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 20px 10px 0 rgba(0, 0, 0, 0.2);
}

.hero .container .countdown p{
    color: #ECE8E8;
    margin: unset;
}

.hero .container .countdown span{
    font-weight: bold;
    font-size: larger;
}

.hero .container .countdown .countdown-timeleft{
    font-size: 3em;
    line-height: 1.5em;
    color: black;
    font-weight: bold;
}

.hero .container .countdown .span-download{
    color: rgb(99, 4, 4);
}

.hero .container .countdown .download{
    display: flex;
    margin-top: 1em;
    text-align: center;
    justify-content: center;
}

.hero .container .countdown .download a{
    cursor: pointer;
    color:white;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
    background: #229102;
    padding: 10px 25px;
    border-radius: 50px;
    height: auto;
    width: 150px;
    margin-inline: 2em;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* features section -----------------------------------*/
.features{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.features .container{
    padding: 5px 20px;
}

.features .container p{
    color: #949494;
    font-size: larger;
    font-weight: bold;
}

.column {
    float: left;
    width: 25%;
    padding: 10px 10px;
}

.row {
      margin: 0 -5px;
}
  
/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* Style the counter cards */
.card {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
padding: 16px;
text-align: center;
background-color: #f1f1f1;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

    .hero .container .distribution{
        font-size: 1em;
    }
}

@media screen and (min-width: 1500px){

    .hero .container ul li{
        height:120px;
        max-width: 120px;
        margin-inline: 10px;    
    }
    
    .hero .container ul li h3{
        font-size: 2.5em;
        padding-top: 30px;
    }
    
    .hero .container ul li p{
        font-size: 1em;
    }

    .hero .container .countdown .countdown-timeleft{
        font-size: 5em;
    }
}

