
<div class="container-fluid mt-5"> 
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <app-alert></app-alert>
            <form #addEditor="ngForm">
                <div class="form row">
                    <div class="col-sm-12 col-md sm-12 txtBox">
                        <input type="text" class="form-control" id="alterEgo" name="email" required ngModel
                            [ngClass]="{ 'error':addEditor.submitted && email.invalid }" #email="ngModel"
                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" />
                        <div *ngIf="addEditor.submitted && email.invalid" class="text-danger">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.pattern">Email is not in correct format</div>
                        </div>
                    </div>
                </div>
            
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="container d-flex justify-content-center mt-3">
                        <button type="submit" class="btn btn-custom lg" [disabled]="isSubmitted" (click)="onSubmit(addEditor)">Submit</button>

                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-4"></div>        
    </div>

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <app-user-details-grid></app-user-details-grid>
            </div>
        </div>
    </div>

</div>
