pdf-viewer {
    display: block;
    height: 90vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px black;
  }

  .pdf-controller{
    text-align: left;
    margin-bottom: 5px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }

  .pdf-viwer-container{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .btn-pdf{
    margin-right: 5px;
  }

  .zoom{
    margin-right: 5px;
    display: inline;
    
  }


