@import "../../styles/colors_function";

.card-wrapper {
    width: 700px;
    margin: 0 auto;
    margin-top: 7.5em;
}
.card {
    border-color: transparent;
    box-shadow: 0 0 40px rgba(0, 0, 0, .05);
}

.card-title {
    margin-bottom: 20px;
    
}

.card.fat {
    padding: 10px;
}