<div class="navbar">
    <div class="container">
        <img id="open-nav" class="open-nav" src="../../../assets/images/hamburger-menu.svg" alt="Open Navigation" (click)= "openNavigation()">
        
        <div class="logo">
            <img class="logo-img" src="../../../assets/images/user-graduate.svg" alt="Logo">
    
            <a href="#">MathsWorld</a>
        </div>

        <ul>
            <li><img src="../../../assets/images/HomeIcon.svg" alt="Home"></li>
            <li><img src="../../../assets/images/notification.svg" alt="Notification"></li>
            <li><img src="../../../assets/images/profile.svg" alt="Profile"></li>
        </ul>
    </div>
</div>

<Section class="side-menu">
    <nav class="container">
        <div class="header">
            <div class="header-logo">
                <img src="../../../assets/images/user-graduate.svg" alt="Logo">
        
                <p>MathsWorld</p>
            </div>

            <img id="close-nav" class="close-nav" src="../../../assets/images/CloseNav-button.svg" alt="Close Navigation" (click)= "closeNavigation()">
        </div>

        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Choose Papers</a></li>
            <li><a href="#">Summary</a></li>
            <li><a href="#">Subject History</a></li>
            <li><a href="#">My Activities</a></li>
            <li><a href="#">Student Feedbacks</a></li>
            <li><a href="#">Add New Paper</a></li>
            <li><a href="#">Add new Evaluator</a></li>
        </ul>   
    </nav>
</Section>
