@font-face {
    font-family: englishBodyFont2;
    src: url('../../../assets/fontawesome-pro/webfonts/Poppins-Light.ttf');
}

.container{
    /* padding: unset;
    margin: unset; */
    font-family: englishBodyFont2;
    /* background-color: yellow; */
}

.summary{
    width: 100%;
    height: 100%;
}

/* hero section -----------------------------------*/
.hero{
    margin-inline: auto;
    max-width: 500px;
}
.hero .container .schemes{
    display: flex;
    margin: 3em 0 0 0;
    width: 100%;
    place-content: space-evenly;
}

.hero .container .schemes button{
    width: 45%;
    justify-content: center;
    background-color: rgb(12, 136, 1);
    display: flex;
    text-align: center;
    align-items: center;
}

.hero .container .schemes button:hover{
    background-color:white;
    outline: 2px solid green;
    border-radius: 5px;
}

.hero .container .schemes button img{
    width: 1em;
    height: 1em;
    margin-right: 5px;
    
}

.hero .container .schemes button p{
    margin: unset;
    font-weight: 400;
}

.hero .container{
    display: block;
    margin: 1em auto;
    background-color: rgb(245, 245, 245);
    border-style: inherit;
    border: 0.5px dotted #d6d6d6;
    padding: 0.5em;
    border-radius: 10px;
}

.hero .container .note{
    display: flex;
    width: 100%;
    margin: 0 auto;
    place-content: space-evenly;
    
    
}

.hero .container .note .note-data{
    display: block;
    width: max-content;
    width: 22%;
    text-align: center;
    background-color: #013A4B;
    border: 1px solid #013A4B;
    border-radius: 5px;  
}

.hero .container .note .note-data .note-value, .note-name{
    margin: unset;
}

.hero .container .note .note-data .note-value{
    padding: 10px 0;
    font-size: xx-large;
    background-color: white;
}

.hero .container .note .note-data .note-name{
    padding: 5px;
    color: white;
}

/* options section -----------------------------------*/
.options{
    margin-top: 30px;
    width: 100%;
}

.options .container{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.options .select-panes{
    display: flex;
    margin: 1em 0;
    margin-left: auto;
}

.options .select-panes .input-group{
    margin-inline: 5px;
    max-width: 300px;

}

.options .select-panes .input-group-text{
    padding: 0 12px;
}

.options .select-panes .input-group-text, .custom-select option{
    font-size: 15px;
}

/* datatable section---------------------------- */
.datatable .container{
    margin-inline: auto;
}

.datatable .example-header{
    margin-bottom: 0.5em;
}

/* model Button--------------------------------- */

.modal button{
    font-size: 30px;
    background-color: rgb(223, 223, 221);
    border-radius: 100px;
    margin: 1px;
    padding: 6px 12px;
}


@media screen and (max-width: 600px) {
    .options .container{
        display: block;
    }

    .options .search-container form{
      justify-content: center;
      width: unset;
    }

    .options input[type=text]{
      float: none;
      display: flex;
      text-align: left;
      width: 85%;
      margin: 0;
    }

    .hero .container .note{
        max-width: 300px;  
    }

    .hero .container .note .note-data{
        margin: 0 2px;
    }

    .hero .container .note .note-data .note-name{
        font-size: smaller;
    }

    .hero .container .note .note-data .note-value{
        padding: 5px 0;
    }
}

@media screen and (max-width: 768px) and (min-width: 600px){
    .options .search-container form{
        width: 200px;
    }
}