<nav class="navbar navbar-dark fixed-top">

    <span class="">
        <span class="navbar-toggler" (click)="_toggleSidebar()">
            <i class="icofont-navigation-menu"></i>
        </span>
        <a class="navbar-brand" routerLink="/">
            <img src="../../assets/images/logo/logo32.svg" width="150" height="30" alt=""> 
        </a>
    </span>

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" (click)="logout()" routerLink="/">Logout</a>
        </li>
    </ul>

</nav>

<!-- Container for sidebar(s) + page content -->
<ng-sidebar-container>

    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" [sidebarClass]="'app-sidebar'" [mode]="_mode"
        [autoCollapseWidth]="_autoCollapseWidth">

        <div style="height: 70px;"></div>
        <h3>Profile</h3>
        <br>

        <hr class="sidenav-link-seperator">
        <ng-container *ngIf="userRoles.ListPapers.includes(userRole)">
            <a class="sidenav-link" [routerLink]="'/admin/paper/list'" [routerLinkActive]="'sidenav-link-active'">All
                Papers</a>
            <hr class="sidenav-link-seperator">
        </ng-container>

        <ng-container *ngIf="userRoles.AddPapers.includes(userRole)">
            <a class="sidenav-link" [routerLink]="'/admin/paper/add'" [routerLinkActive]="'sidenav-link-active'">Add
                Paper</a>
            <hr class="sidenav-link-seperator">
        </ng-container>

        <ng-container *ngIf="userRoles.UserManage.includes(userRole)">
            <a class="sidenav-link" [routerLink]="'/admin/users'" [routerLinkActive]="'sidenav-link-active'">Users</a>
            <hr class="sidenav-link-seperator">
        </ng-container>

        <ng-container *ngIf="userRoles.SummaryPapers.includes(userRole)">
            <a class="sidenav-link" [routerLink]="'/admin/summary'"
                [routerLinkActive]="'sidenav-link-active'">Summary</a>
            <hr class="sidenav-link-seperator">
        </ng-container>

    </ng-sidebar>

    <!-- Page content -->
    <div ng-sidebar-content style="margin-top: 70px;">
        <router-outlet name="adminRouter"></router-outlet>
    </div>

</ng-sidebar-container>