
<section>
    <div class="months">

        <!-- <button *ngFor="let subject of subjectList; let i = index" class="btn"
            [class]="selectedSubjectId===subject.subjectid?'selected':'not-selected'"
            (click)="loadPapers(subject)">{{subject.subjectname}}</button> -->
        <!-- <button class="btn not-selected">Success</button> -->
        <h3>{{subjectName}}</h3>

    </div>

    <div *ngIf="showingPapers.length>0" class="paper-container">
        <div *ngFor="let category of showingPapers; let i=index">

            <div class="row paper-topic" (click)="toggle(i)">
                <div class="col-10">
                    <h3 class="d-inline align-items-start"> {{category.year}} - {{getMonthName(category.month-1)}}</h3>
                </div>
                <div class="col-2">
                    <h3 *ngIf="showingIndex!==i; else collaps" class="text-right pr-2"><i class="icofont-dotted-down"></i></h3>
                    <ng-template #collaps>
                        <h3 class="text-right pr-2"><i class="icofont-dotted-up"></i></h3>
                    </ng-template>
                </div>
            </div>

            <div class="d-flex row justify-content-center" *ngIf="showingIndex===i && category.papers.length>0">
                <div *ngFor="let paper of category?.papers; let i = index" class="col-lg-3 col-md-6 mt-3 mb-3">
                    <div class="card">
                        <img class="card-img-top" src="../../assets/images/papers/{{paper.week}}.png" alt="Card image cap">
                        <div class="card-body">
                            <h6>{{paper.papername}}</h6>
                            <p class="card-text">{{paper.paperdescription}}</p>
                            <a class="btn-enter mt-2" (click)="enterToPaper(paper)">Enter</a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</section>

<nav aria-label="Page navigation example" *ngIf="hasNextPage||hasPreviousPage">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class]="hasPreviousPage?'':'disabled'">
        <a class="page-link" (click)="previousPage()" tabindex="-1">Previous</a>
      </li>
      <li class="page-item"><a class="page-link">{{pageNo}}</a></li>
      <li class="page-item" [class]="hasNextPage?'':'disabled'">
        <a class="page-link"  (click)="nextPage()">Next</a>
      </li>
    </ul>
  </nav>
