<app-navbar></app-navbar>
<section class="show-paper">
    <h5>{{paperTitle}}</h5>
    <a *ngIf="!isPaperStarted" class="btn btn-start-paper" (click)="startPaper()">Start Paper</a>

    <div  *ngIf="isPaperStarted">
        <app-timer></app-timer>


        <div class="pdf-container">
            <app-pdf-viewer></app-pdf-viewer>
        </div>

        <div class="upload-section">
            <div class="upload-header">
                <h2>Upload Section</h2>
            </div>
            <!-- <div class="row text-center">
                <div class="col-4">Upload File</div>
                <div class="col-4">Confirm Submission</div>
                <div class="col-4">Submission Complete</div>
            </div> -->

            <div [ngSwitch]="paperStatus" class="row mt-4 mb-2">
                <div class="col-4 text-left submission-status">
                    Submission Status
                </div>
                <div *ngSwitchCase="'notstart'" class="col-8 text-left submission-status status-notsubmitted">
                    <i class="icofont-close-circled"></i> Not Submitted
                </div>
                <div *ngSwitchCase="'start'" class="col-8 text-left submission-status status-notsubmitted">
                    <i class="icofont-close-circled"></i> Not Submitted
                </div>
                <div *ngSwitchCase="'upload'" class="col-8 text-left submission-status status-uploaded">
                    <i class="icofont-warning-alt"></i> File is uploaded, Please confirm submission
                </div>
                <div *ngSwitchCase="'submit'" class="col-8 text-left submission-status status-submitted">
                    <i class="icofont-check-circled"></i> Submitted Successfuly
                </div>
            </div>
    
            <!-- <div class="upload-text">
                <p>Upload your answers as a PDF file here</p>
                {{message}}
            </div> -->
            <app-file-uploader (uploadEvent)="paperStatus=$event" (fileEvent)="files=$event"></app-file-uploader>
            <button (click)="onSubmit()">submit</button>
        </div>
    </div>
</section>