<app-navbar></app-navbar>
<section class="show-paper">
    <h5>Paper Title</h5>
    <a *ngIf="!isPaperStarted" class="btn btn-start-paper" (click)="startPaper()">Start Paper</a>

    <div  *ngIf="isPaperStarted">
        <app-timer></app-timer>


        <div class="pdf-container">
            <app-pdf-viewer></app-pdf-viewer>
        </div>

        <div class="upload-section">
            <div class="upload-header">
                <h2>Upload Section</h2>
            </div>
            <!-- <div class="row text-center">
                <div class="col-4">Upload File</div>
                <div class="col-4">Confirm Submission</div>
                <div class="col-4">Submission Complete</div>
            </div> -->

            <div [ngSwitch]="paperStatus" class="row mt-2">
                <div class="col-4 text-left">
                    Submission Status
                </div>
                <div *ngSwitchCase="'notstart'" class="col-8 text-left">
                    Not Submitted
                </div>
                <div *ngSwitchCase="'start'" class="col-8 text-left">
                    Not Submitted
                </div>
                <div *ngSwitchCase="'upload'" class="col-8 text-left">
                    File is uploaded, Please confirm submission
                </div>
                <div *ngSwitchCase="'submit'" class="col-8 text-left">
                    Submitted Successfuly
                </div>
            </div>
    
            <div class="upload-text">
                <p>Upload your answers as a PDF file here</p>
                {{message}}
            </div>
            <app-file-uploader (uploadEvent)="paperStatus=$event"></app-file-uploader>
        </div>
    </div>
</section>