.show-paper{
    margin-top: 70px;
    text-align: center;
    /* margin-left: auto; */
}

.btn-start-paper{
    background-image: linear-gradient(to right, #1461b1 , #14b164);
      padding: 10px 25px 10px 25px;
      border-radius: 100px;
      color: white;
      font-weight: bolder;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  }
  pdf-viewer {
    display: block;
    height: 100vh;
}





/* uploader */
.container {
    width: 450px;
    height: 100px;
    padding: 2rem;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;
}
    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 50%;
      top: 0;
      left: 0;
    }
  
    label {
      color: white;
      width: 183px;
      height: 44px;
      border-radius: 21.5px;
      background-color: #db202f;
      padding: 8px 16px;
    }
  
    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #38424c;
    }
  
  
  .fileover {
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  
  .files-list {
    margin-top: 1.5rem;
    
    display: flex;
    flex-grow: 1;
}
    .single-file {
      display: flex;
      padding: 0.5rem;
      justify-content: space-between;
      align-items: center;
      border: dashed 1px #979797;
      margin-bottom: 1rem;
    }
      .delete {
        display: flex;
        margin-left: 0.5rem;
        cursor: pointer;
        align-self: flex-end;
      }
  
  
  
      .name {
        font-size: 14px;
        font-weight: 500;
        color: #353f4a;
        margin: 0;
      }
  
      .size {
        font-size: 12px;
        font-weight: 500;
        color: #a4a4a4;
        margin: 0;
        margin-bottom: 0.25rem;
      }
  
      .info {
        width: 100%
      }
    

  
  /* Shake animation */
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
  
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
  
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
  
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
  
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
  
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
  
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
  
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
  
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
  
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
  
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }