.loading-svg{
    position: relative;
    text-align: center;
    /* margin-right: auto;
    margin-left: auto; */
    /* background-color: blueviolet; */
}
.loading-text{
    position: relative;
    text-align: center;
    /* margin-right: auto;
    margin-left: auto; */
}
.loading-container{
    position: fixed;
    top: 30vh;
    width: 100%;
    /* background-color: blueviolet; */
}