<div class="loading-container">
    <div class="loading">        
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: none; display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="84" cy="50" r="10" fill="#fcb711">
                <animate attributeName="r" repeatCount="indefinite" dur="0.33783783783783783s" calcMode="spline" keyTimes="0;1" values="10;0" keySplines="0 0.5 0.5 1" begin="0s"></animate>
                <animate attributeName="fill" repeatCount="indefinite" dur="1.3513513513513513s" calcMode="discrete" keyTimes="0;0.25;0.5;0.75;1" values="#fcb711;#6460aa;#cc004c;#f37021;#fcb711" begin="0s"></animate>
            </circle><circle cx="16" cy="50" r="10" fill="#fcb711">
              <animate attributeName="r" repeatCount="indefinite" dur="1.3513513513513513s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
              <animate attributeName="cx" repeatCount="indefinite" dur="1.3513513513513513s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="0s"></animate>
            </circle><circle cx="50" cy="50" r="10" fill="#f37021">
              <animate attributeName="r" repeatCount="indefinite" dur="1.3513513513513513s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.33783783783783783s"></animate>
              <animate attributeName="cx" repeatCount="indefinite" dur="1.3513513513513513s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.33783783783783783s"></animate>
            </circle><circle cx="84" cy="50" r="10" fill="#cc004c">
              <animate attributeName="r" repeatCount="indefinite" dur="1.3513513513513513s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.6756756756756757s"></animate>
              <animate attributeName="cx" repeatCount="indefinite" dur="1.3513513513513513s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-0.6756756756756757s"></animate>
            </circle><circle cx="16" cy="50" r="10" fill="#6460aa">
              <animate attributeName="r" repeatCount="indefinite" dur="1.3513513513513513s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="0;0;10;10;10" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-1.0135135135135136s"></animate>
              <animate attributeName="cx" repeatCount="indefinite" dur="1.3513513513513513s" calcMode="spline" keyTimes="0;0.25;0.5;0.75;1" values="16;16;16;50;84" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" begin="-1.0135135135135136s"></animate>
            </circle>
        </svg>
        <div>
            <h5>{{loadingMsg}}</h5>
        </div>
    </div>
</div>