body {
  position: relative;
}

#carouselHome {
  background-color: #178109;
}

.h4 {
  font-size: 0.8rem;
}

@media (min-width: 544px) {  
  .h4 {font-size:0.1rem;} /*1rem = 16px*/
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .h4 {font-size:0.5rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  .h4 {font-size:1rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .h4 {font-size:1.2rem;} /*1rem = 16px*/    
}
  
svg{
  position: absolute;
  width: 100%;
  left: 0;
  animation-name: move-left;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.spacer{
  height: 100px;
  width: 100%;
}

@keyframes example {
  0%   {
    left:0px;
    top:0px;}
  
  50%  {
    left:-2000px;
    top:400px;}
  
  100% {
    left:0px; 
    top:0px;}
}


