<!DOCTYPE html>
<html>

<head>
  <title>MathsWorld</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- bootstrap tag -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    
</head>



<body data-spy="scroll" data-target="#navbar" data-offset="51">


  <!-- Your Chat Plugin code -->
  
  <div class="fb-customerchat"
    attribution="install_email"
    page_id="111974320211130"
    theme_color="#44bec7">
  </div>


  <!-- navbar -->
  <app-navbar></app-navbar>

  
  <!-- carousel div -->
  <div id="carouselHome" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="../../assets/images/carousal/a.png" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/images/carousal/diverse.svg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="../../assets/images/carousal/innovation.svg" alt="Third slide">
      </div>
    </div>
  </div>



  <!-- procedure -->

  <div class="container-fluid">
    <!-- <p class="h2 text-center mt-5 mb-0">Procedure</p> -->

    <section id="procedure">
      <div class="row d-md-none">
        <div class="container text-center mt-5">
          <p class="h1 text-Center">Step 01</p>
          <p class="h2 text-center">Log In To The System</p>
          <p>Email සහ Password ඇතුලත් කර Log In වෙන්න</p>
        </div>
        <div class="col-sm-12">
          <img class="img-fluid center-block" src="../../assets/images/procedure/login2.svg">
        </div>
      </div>

      <div class="row d-md-none">
        <div class="container text-center">
          <p class="h1 text-Center">Step 02</p>
          <p class="h2 text-center">Start The Paper</p>
          <p>අදාල කාලය ඇතුලත paper එක සම්පූර්ණ කර submit කිරීම</p>
        </div>
        <div class="col-sm-12">
          <img class="img-fluid center-block" src="../../assets/images/procedure/paper.svg">
        </div>
      </div>

      <div class="row d-md-none">
        <div class="container text-center">
          <p class="h1 text-Center">Step 03</p>
          <p class="h2 text-center">Analyzis The Results</p>
          <p>දිවයිනේ දක්ශතම පිලිතුරු පත්‍ර පරීක්ශකයින් විසින් පරීක්ශා කරන බැවින් විශයේ ඇති අඩුපාඩු සොයා බලා ඒවාට විසදුම් සෙවීම</p>
        </div>
        <div class="col-sm-12">
          <img class="img-fluid center-block" src="../../assets/images/procedure/analyzis.svg">
        </div>
      </div>
  
      <div class="row d-none d-md-flex">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-5 col-md-5">
          <img class="img-fluid align-items-right"  src="../../assets/images/procedure/login2.svg">
        </div>
        <div class="col-lg-5 col-md-5" >
          <div class="d-flex align-items-center" style="height: 400px;">
            <div class="container-fluid text-center">
              <p class="h1 text-Center mb-0">Step 01</p>
              <p class="h2 text-center mt-3 mb-2">Log In To The System</p>
              <p>Email සහ Password ඇතුලත් කර Log In වෙන්න</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row d-none d-md-flex">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-5 col-md-5" >
          <div class="d-flex align-items-center" style="height: 400px;">
            <div class="container-fluid text-center">
              <p class="h1 text-Center mb-0">Step 02</p>
              <p class="h2 text-center mt-3 mb-2">Start The Paper</p>
              <p>අදාල කාලය ඇතුලත paper එක සම්පූර්ණ කර submit කිරීම</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-5" >
          <img class="img-fluid align-items-right"  src="../../assets/images/procedure/paper.svg">
        </div>
      </div>
       
      <div class="row d-none d-md-flex">
        <div class="col-lg-1 col-md-1"></div>
        <div class="col-lg-5 col-md-5">
          <img class="img-fluid align-items-right"  src="../../assets/images/procedure/analyzis.svg">
        </div>
        <div class="col-lg-5 col-md-5" >
          <div class="d-flex align-items-center" style="height: 400px;">
            <div class="container-fluid text-center">
              <p class="h1 text-Center mb-0">Step 03</p>
              <p class="h2 text-center mt-3 mb-2">Analyzis The Results</p>
              <p>දිවයිනේ දක්ශතම පිලිතුරු පත්‍ර පරීක්ශකයින් විසින් පරීක්ශා කරන බැවින් විශයේ ඇති අඩුපාඩු සොයා බලා ඒවාට විසදුම් සෙවීම </p>
            </div>
          </div>
        </div>
      </div>
  
    </section>


    <!-- quote -->

    <section id="intro">
  
      <div class="container-fluid">
        <div class="row">
          <div class="container text-center">
            <p class="h4 text-center">ඔබට කල නොහැකි දේ මට කලහැකියි</p>
            <p class="h4 text-center">මට කල නොහැකි දේ ඔබට කලහැකියි</p>
            <p class="h4 text-center mb-5">අපි එක්ව වැඩ කලොත් <b>කිසිවෙකුටත්</b> කල <b>නොහැකි</b> දේ කල <b>හැකියි</b></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3 col-lg-2 col-md-2"></div>
          <div class="col-sm-6 col-lg-8 col-md-8 mb-5">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.youtube.com/embed/netL27ccC6A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>  
          </div>
        </div>
      </div>
    </section>
    

    <!-- footer with contact us -->
    <div class="container-fluid" id="contactUs">
      <svg width="100vw" height="200px" fill="none" version="1.1"
       xmlns="http://www.w3.org/2000/svg">
        <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" stop-color="#00B4DB" />
          <stop offset="50%" stop-color="#224488" />
          <stop offset="100%" stop-color="#0083B0" />
        </linearGradient>
        <path 
          fill="url(#grad1)" 
          d="
            M0 67
            C 273,183
              822,-40
              1920.00,106 
            
            V 359 
            H 0 
            V 67
            Z">
          <animate 
            repeatCount="indefinite" 
            fill="url(#grad1)" 
            attributeName="d" 
            dur="15s"
            attributeType="XML"
            values="
              M0 77 
              C 473,283
                822,-40
                1920,116 
              
              V 359 
              H 0 
              V 67 
              Z; 
  
              M0 77 
              C 473,-40
                1222,283
                1920,136 
              
              V 359 
              H 0 
              V 67 
              Z; 
  
              M0 77 
              C 973,260
                1722,-53
                1920,120 
              
              V 359 
              H 0 
              V 67 
              Z; 
  
              M0 77 
              C 473,283
                822,-40
                1920,116 
              
              V 359 
              H 0 
              V 67 
              Z
              ">
          </animate>
        </path>
      </svg>
    </div>
  </div>












  <!-- js tag by bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script>
    $(function () {
  $(document).scroll(function () {
	  var $nav = $(".navbar-fixed-top");
	  $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());
	});
});
  </script>
</body>

</html>